# see https://wiki.archlinux.org/index.php/Power_management#Sleep_hooks

[Unit]
Description=Lock the screen
Before=sleep.target
 
[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock-fancy-rapid 11 3
 
[Install]
WantedBy=sleep.target